<div ng-controller="MainCtrl as mainVm">
    <div class="navbar navbar-inverse navbar-fixed-top header">
        <div class="navbar-header">
            <a href="#" class="navbar-brand text-uppercase"><i class="fa fa-server"></i> Mini Twitter</a>
        </div>
        <nav class="navbar-collapse collapse" role="navigation" style="height: 1px;" ng-if="mainVm.isLoggedIn()">
            <div class="collapse navbar-collapse ">
                <ul class="nav navbar-nav navbar-right" style="margin-right: 5px">
                    <li><a ui-sref="feed"><i class="fa fa-home"></i> Home</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle capitalize" data-toggle="dropdown">Welcome {{mainVm.fullname}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!--<li><a ui-sref="changePassword"><i class="fa fa-lock"></i> Change Password</a></li>
                            <li class="divider"></li>-->
                            <li><a href="" ng-click="mainVm.signOut()"><i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!--<div class="sidebar" ng-if="mainVm.isLoggedIn()">
        <ul class="nav">
            <li ng-repeat="menu in mainVm.menuItems" ng-class="{ active: $state.current.name == menu.route  }">
                <a href="" ui-sref="{{menu.route}}">
                    <span ng-class="menu.icon"></span>
                    <br>
                    <label>{{menu.label}}</label>
                </a>
            </li>
        </ul>
    </div>-->

    <div class="container-fluid">
        <ui-view></ui-view>
    </div>
</div>