<div class="row">
    <div class="col-sm-3">
        <div class="profile-box">
            <div class="card">
                <div class="top-bg"></div>
                <div class="disp-content">
                    <!-- <div class="row"> -->
                    <div class="display-picture inline-disp">
                        <img src="http://lorempixel.com/70/70" alt="pp" class="img-responsive">
                    </div>
                    <div class="display-info inline-disp">
                        <div class="display-info-name">
                        {{mainVm.fullname}}
                        </div>
                        <!--<span class="display-info-username">
                        @{{mainVm.username}}
                        </span>-->
                    </div>
                    <div class="display-stats">
                        <ul class="display-stats-ul">
                            <li class="display-stats-li">
                                <a ui-sref="profile">
                                    <div class="display-stats-label">Tweets</div>
                                    <div class="display-stats-value">{{profileVm.stats.tweets}}</div>
                                </a>
                            </li>
                            <li class="display-stats-li">
                                <a ui-sref="following">
                                    <div class="display-stats-label">Following</div>
                                    <div class="display-stats-value">{{profileVm.stats.followings}}</div>
                                </a>
                            </li>
                            <li class="display-stats-li">
                                <a ui-sref="followers">
                                    <div class="display-stats-label">Followers</div>
                                    <div class="display-stats-value">{{profileVm.stats.followers}}</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </div>
            </div>   
        </div>
    </div>

    <div class="col-sm-9">
        <div class="col-sm-12">
            <div class="following-header">My followings</div>
        </div>
        <div class="col-sm-4 following-box" ng-repeat="user in profileVm.followings">
            <div class="card">
                <div class="top-bg"></div>
                <div class="disp-content">
                    <div class="display-picture inline-disp">
                        <img src="http://lorempixel.com/70/70" alt="pp" class="img-responsive">
                    </div>
                    <div class="inline-disp">
                        <button type="button" class="btn btn-danger btn-sm" style="margin-left: 90px" ng-click="profileVm.unfollow(user.id)">
                            <i class="fa fa-user-times"></i> Unfollow
                        </button>
                    </div>
                    <div class="display-info">
                        <div class="display-info-name">
                            {{user.name}}
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>