<div id="login-body">
	<div class="row">
		<div class="login_box">
			<form ng-submit="loginVm.login(loginVm.formData)" role="form">
				<div class="login_form" style="padding-bottom:28px;">
					<div class="header-line" style="padding: 0;margin-bottom: 20px;">
						Already a user? Sign In
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="sr-only" for="email"> Email:</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
								<input type="email" required="required" class="form-control" ng-model="loginVm.formData.email" id="email" placeholder="Email">
							</div>
						</div>
						<div class="form-group">
							<label class="sr-only" for="password"> Password:</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
								<input type="password" required="required" class="form-control" ng-model="loginVm.formData.password" id="password" placeholder="Password">
							</div>
						</div>

						<div class="form-inline">
							<div class="form-group">
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="loginVm.formData.rememberMe"> Remember Me
									</label>
								</div>
								
								<button type="submit" class="btn btn-success" ng-if="!loginVm.isLoading">
									<i class="fa fa-sign-in"></i> Sign in
								</button>
								<span class="btn btn-success" disabled ng-if="loginVm.isLoading">
									<i class="fa fa-spinner fa-spin"></i> checking credentails...
								</span>
							</div>
						</div>
					</div>
					
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="login_box">
			<form ng-submit="loginVm.register(loginVm.regData)" role="form">
				<div class="login_form" style="padding-bottom:28px;">
					<div class="header-line" style="padding: 0;margin-bottom: 20px;">
						New to Mini Twitter? Sign Up
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="sr-only" for="name"> Fullname:</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input type="text" required="required" class="form-control" ng-model="loginVm.regData.name" id="name" placeholder="Fullname">
							</div>
						</div>
						<div class="form-group">
							<label class="sr-only" for="email"> Email:</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
								<input type="email" required="required" class="form-control" ng-model="loginVm.regData.email" id="email" placeholder="Email">
							</div>
						</div>
						<div class="form-group">
							<label class="sr-only" for="password"> Password:</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
								<input type="password" required="required" class="form-control" ng-model="loginVm.regData.password" id="password" placeholder="Password">
							</div>
						</div>
						<div class="form-group">
							<label class="sr-only" for="password_confirmation"> Password Confirmation:</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
								<input type="password" required="required" class="form-control" ng-model="loginVm.regData.password_confirmation" id="password_confirmation" placeholder="Password Confirmation">
							</div>
						</div>

						<div>
							<button type="submit" class="btn btn-primary btn-block" ng-if="!loginVm.isLoading">
								<i class="fa fa-sign-in"></i> Sign up
							</button>
							<span class="btn btn-primary btn-block" disabled ng-if="loginVm.isLoading">
								<i class="fa fa-spinner fa-spin"></i> Please wait
							</span>
						</div>
					</div>
					
				</div>
			</form>
		</div>
	</div>
</div>