/**OVERRIDES**/
::-webkit-scrollbar {
    width: 10px;
    height: 16px;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    padding-top: 100px;
    padding-right: 10px;
    border-left: 1px solid #F9F9F9;
    border-right: 1px solid #F9F9F9;
    -ms-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #d0cece;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}


::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-track {
    -ms-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #F5F5F5;
}


$ascent-color: #ad1457;


body {
    font-size: 14px;
    font-family: 'RobotoRegular';
    background-color: #fcfcfc;
    margin-top: 60px;
}

.navbar {
    background-image: none;
    background-repeat: no-repeat;
    -ms-filter: none;
    filter: none;
}

.navbar-header {
    margin-bottom: -1px;
    border-right: 1px solid $ascent-color !important;
    margin-right: 10px;
}

.navbar-inverse {
    margin-bottom: 0;
    background-color: $ascent-color !important;
    -webkit-box-shadow: -2px 3px 1px #CACACA;
    -ms-box-shadow: -2px 3px 1px #CACACA;
    box-shadow: -2px 3px 1px #CACACA;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border-color: $ascent-color;
}

.profile_menu {
    margin-right: 5px;
}

.header .navbar-brand {
    margin-top: -3px;
    font-size: 17px;
    color: #ffffff;
    background-color: $ascent-color !important;
}

.navbar-brand > img {
    display: inline-block;
    width: 30px;
}

.header .navbar-nav > .active > a {
    color: #f2f2f4;
    background-color: $ascent-color !important;
    /*-ms-border-radius: 20px;
    border-radius: 20px;*/
    background-color: transparent;
}

.header .navbar-nav > li > a, .header .navbar-nav > li > a:hover {
    color: #f2f2f4;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #f2f2f4;
    background-color: $ascent-color !important;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    border-color: #f2f2f4;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0px;
    margin-top: -4px;
}

.navbar-inverse .navbar-collapse {
    margin-top: 2px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}

#login-body{
    display: table;
    position: absolute;
    width: 100%;
    margin-top: 30px;
    margin-left: -60px
}

.login_box {
    // display: table-cell;
    vertical-align: middle;
    margin-bottom: 20px;
}

.login_form {
    width: 360px;
    padding: 10px 33px;
    margin: auto;
    border-radius: 4px;
    // margin-top: 10%;
    border: 1px solid #e91e63;
}



.pointer {
    cursor: pointer;
}


.inner-score {
    margin: 15px;
}

.form-controls {
    margin-top: 25px;
}

.form-control{
    height: inherit;
}


.card {
    display: block;
    font-family: 'RobotoRegular';
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

    .card .card-body {
        padding: 11px;
    }

        .card .card-body .card-body-container {
            padding: 0 13px;
        }

    .card .notice {
        border-bottom: 1px solid #f4f4f4;
        padding: 16px;
    }

    .card .header-line {
        border-bottom: 1px solid #f4f4f4;
    }

    .card .card-header {
        padding: 23px 26px;
        padding-bottom: 5px;
    }

        .card .card-header h2 {
            margin: 0;
            line-height: 100%;
            font-size: 17px;
            font-weight: 400;
        }

            .card .card-header h2 small {
                font-size: 12px;
                display: block;
                margin-top: 8px;
                color: #AEAEAE;
                line-height: 160%;
            }

    .card .card-footer {
        padding: 16px 26px;
        border-top: 1px solid #DFDFDF;
    }


    .card b {
        font-family: 'RobotoLight';
    }

    .card .value {
        font-weight: bold;
    }

.card-form > .overlay {
    z-index: 1010;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.70);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


a.action {
    text-decoration: none;
    padding: 5px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    margin-right: 10px;
}

    a.action:hover {
        text-decoration: none;
        /*background-color: #f4f4f4;*/
    }

    a.action i {
        margin-right: 7px;
    }

.loading b {
    font-size: 16px;
}   
    
.toast-top-center{
    margin-top: 60px !important;
}

.btn-red-border {
    color: #e53935;
    // background-color: #ef9a9a;
    border-color: #e53935;
}

.btn-red-border:hover,
.btn-red-border:focus,
.btn-red-border:active {
    color: $ascent-color;
    background-color: #fff;
    border-color: #e53935;
}

.post-action-list {
    // border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding-top: 2px;

    i {
      font-size: 18px;
    }
  }

.post-action {
    width: 80px;
    display: inline-block;

    a {
      color: #aab8c2;
    }

    a:hover {
      color: teal;
      background-color: white
    }

    .post-action-text {
      color: #aab8c2;
      display: inline-block;
    }

    .btn-flat {
      padding: 0 4em 0 0;
    }
}

.margin-10 {
    margin-top: 10px;
}

.post-username {
    color: #90949c;
    font-size: 13px;
  }

.profile-box {
  .card-panel {
    padding: 0;
  }

  .top-bg {
    background-color: #ad1457;
    height: 95px;
  }

  .disp-content {
    height: 130px;
    position: relative;

    .display-picture {
      background-color: #fff;
      border-radius: 5px;
      height: 70px;
      width: 70px;
      margin: -30px 0 0 8px;
      vertical-align: bottom;
    }

    .display-info {

      .display-info-name {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
      }

      .display-info-username {
        color: #90949c;
        font-size: 13px;
      }
    }

    .display-stats {
      margin-left: 10px;
      padding: 10px 0;

      .display-stats-ul {
        display: inline-flex;
        list-style: none;
      }

      .display-stats-li {
        padding-right: 12px;

        a:hover {
            text-decoration: none;
            .display-stats-label {
                color: #f06292;
            }
        }
      }

      .display-stats-label {
        color: #90949c;
        font-size: 12px;
      }

      .display-stats-value {
        // font-weight: 500;
        font-size: 18px;
        color: #f06292;
      }
    }

    .inline-disp {
      display: inline-block;
    }
  }
}

.suggestions-box {
    .card-header {
        font-size: 20px;
        color: #f06292;
        padding: 15px 15px;
    }
}

.following-header {
    font-size: 20px;
    color: #f06292;
    border-bottom: solid 1px #eacdcd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.following-box {
  .card {
    margin-bottom: 20px;
  }

  .top-bg {
    background-color: #d00772;
    height: 70px;
  }

  .disp-content {
    height: 90px;
    position: relative;

    .display-picture {
      background-color: #fff;
      border-radius: 5px;
      height: 70px;
      width: 70px;
      margin: -30px 0 0 8px;
      vertical-align: bottom;
    }

    .display-info-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        padding: 10px;
    }
    .inline-disp {
      display: inline-block;
    }
  }
}