<div class="row">
    <div class="col-sm-3">
        <div class="profile-box">
            <div class="card">
                <div class="top-bg">
                    
                </div>
                <div class="disp-content">
                    <!-- <div class="row"> -->
                    <div class="display-picture inline-disp">
                        <img src="http://lorempixel.com/70/70" alt="pp" class="img-responsive">
                    </div>
                    <div class="display-info inline-disp">
                        <div class="display-info-name">
                        {{mainVm.fullname}}
                        </div>
                        <!--<span class="display-info-username">
                        @{{mainVm.username}}
                        </span>-->
                    </div>
                    <div class="display-stats">
                        <ul class="display-stats-ul">
                            <li class="display-stats-li">
                                <a ui-sref="profile">
                                    <div class="display-stats-label">Tweets</div>
                                    <div class="display-stats-value">{{feedVm.stats.tweets}}</div>
                                </a>
                            </li>
                            <li class="display-stats-li">
                                <a ui-sref="following">
                                    <div class="display-stats-label">Following</div>
                                    <div class="display-stats-value">{{feedVm.stats.followings}}</div>
                                </a>
                            </li>
                            <li class="display-stats-li">
                                <a ui-sref="followers">
                                    <div class="display-stats-label">Followers</div>
                                    <div class="display-stats-value">{{feedVm.stats.followers}}</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </div>
            </div>   
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="http://lorempixel.com/60/60" alt="pp" class="img-circle img-responsive">
                    </div>
                    <div class="col-sm-10">
                        <form class="card-form" ng-submit="feedVm.saveTweet(feedVm.record)">
                            <input type="text" class="form-control" placeholder="What's happening?" ng-model="feedVm.record">
                            <button type="submit" class="btn btn-default btn-red-border pull-right" style="margin-top: 10px">
                                <i class="fa fa-pencil-square-o"></i> Tweet
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="card margin-10" ng-repeat="record in feedVm.records">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                    <!-- <div class=""> -->
                        <img src="http://lorempixel.com/60/60" alt="pp" class="img-circle img-responsive">
                    <!-- </div> -->
                    </div>
                    <div class="col-sm-10">
                        <div class="margin-10">
                            <span class="post-username">
                                {{record.user.name}}
                            </span>
                            <span class="post-username">
                                <!--@Username · -->
                            </span>
                            <!--<span class="post-username" am-time-ago="post.created_at"></span>-->
                        </div>
                        <div class="margin-10">
                            {{record.content}}
                        </div>
                        <!--<div class="margin-10">
                            <div class="post-action-list">
                                <div class="post-action">
                                    <a href="" title="Share" class="btn" ng-click="like(post)"><i class="fa fa-reply"></i></a>
                                </div>
                                <div class="post-action">
                                    <a href="" title="Retweet" class="btn"><i class="fa fa-retweet"></i>10</a>
                                </div>
                                <div class="post-action">
                                    <a href="" title="Like" class="btn"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="suggestions-box">
            <div class="card">
                <div class="card-header">Who to follow</div>
                <div class="card-body">
                    <div ng-repeat="user in feedVm.users">
                        <div class="row" style="margin-top: 15px" ng-if="user.id !== mainVm.id">
                            <div class="col-sm-3">
                                <img src="http://lorempixel.com/60/60" alt="pp" class="img-circle img-responsive">
                            </div>
                            <div class="col-sm-9">
                                <div class="">
                                    <div class="post-username">
                                        {{user.name}}
                                    </div>
                                </div>
                                <div class="">
                                    <button type="button" class="btn btn-success btn-sm" ng-click="feedVm.follow(user.id)">
                                        <i class="fa fa-user-plus"></i> Follow
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>